version: '3.8'

name: papufarmacia-carmona

services:
  # ======================================================================
  # TU BASE DE DATOS PERSONALIZADA
  # ======================================================================
  carmona_mongo:
    image: mongo:6.0
    container_name: carmona_mongo
    env_file: .env
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER_INITDB_ROOT_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_USER_INITDB_ROOT_PASSWORD}
      MONGO_INITDB_DATABASE: ${MONGO_USER_DB}
    ports:
      - "27017:27017"
    volumes:
      - carmona_vol_mongo:/data/db
    networks:
      - carmona_network

  # ======================================================================
  # TUS SERVICIOS
  # ======================================================================
  
  supplier_service:
    build: ./supplier-service
    container_name: pharma_supplier_service
    env_file: .env
    environment:
      - DATABASE_URL=mongodb://${MONGO_USER_INITDB_ROOT_USERNAME}:${MONGO_USER_INITDB_ROOT_PASSWORD}@carmona_mongo:27017/pharma_suppliers?authSource=admin
    ports:
      - "8084:8084"
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8084"
    depends_on:
      carmona_mongo:
        condition: service_started
    networks:
      - carmona_network

  purchase_order_service:
    build: ./purchase-order-service
    container_name: pharma_purchase_order_service
    env_file: .env
    environment:
      - DATABASE_URL=mongodb://${MONGO_USER_INITDB_ROOT_USERNAME}:${MONGO_USER_INITDB_ROOT_PASSWORD}@carmona_mongo:27017/pharma_orders?authSource=admin
    ports:
      - "8085:8085"
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8085"
    depends_on:
      carmona_mongo:
        condition: service_started
    networks:
      - carmona_network

  product_service:
    build: ./productv2-service 
    container_name: pharma_product_service
    env_file: .env
    environment:
      - DATABASE_URL=mongodb://${MONGO_USER_INITDB_ROOT_USERNAME}:${MONGO_USER_INITDB_ROOT_PASSWORD}@carmona_mongo:27017/pharma_products?authSource=admin
    ports:
      - "8086:8086"
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8086"
    depends_on:
      carmona_mongo:
        condition: service_started
    networks:
      - carmona_network
  
  sales_service:
    build: ./salesv2-service
    container_name: pharma_sales_service
    env_file: .env
    environment:
      - DATABASE_URL=mongodb://${MONGO_USER_INITDB_ROOT_USERNAME}:${MONGO_USER_INITDB_ROOT_PASSWORD}@carmona_mongo:27017/?authSource=admin
    ports:
      - "8087:8087"
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8087"
    depends_on:
      carmona_mongo:
        condition: service_started
    networks:
      - carmona_network

  # CORREGIDO: Ahora está dentro del bloque 'services'
  purchase_order_service_v2:
    build: ./orderv2
    container_name: pharma_purchase_order_service_v2 # Cambié el nombre del contenedor para que no choque con el v1
    env_file: .env
    environment:
      - DATABASE_URL=mongodb://${MONGO_USER_INITDB_ROOT_USERNAME}:${MONGO_USER_INITDB_ROOT_PASSWORD}@carmona_mongo:27017/pharma_orders?authSource=admin
    ports:
      - "8088:8088"
    command: "uvicorn app.main:app --host 0.0.0.0 --port 8088"
    depends_on:
      carmona_mongo:
        condition: service_started
    networks:
      - carmona_network

volumes:
  carmona_vol_mongo:

networks:
  carmona_network:
    driver: bridge