<div
  class="bg-linear-to-t from-blue-400 to-blue-500 grid grid-cols-2 justify-center text-white p-4 text-center"
>
  <div class="flex flex-col justify-center items-center">
    <span class="font-extrabold mb-2">PapuFarmacias v1.0</span>
    <ul class="text-center">
      <li><a>Universidad Veracruzana</a></li>
      <li><a>Desarrollo WEB</a></li>
    </ul>
  </div>
  <div class="flex flex-col justify-center items-center">
    <span class="font-extrabold mb-2">Contacto</span>
    <ul class="text-left">
      <li>Correo: <a>example@example.com</a></li>
      
    </ul>
  </div>
</div>
